[project]
	description = Easy Hash Table: An simple, portable (both in user space and kernel space) and extendable implementation of hash table.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sammy (wangshangsam)
[access "refs/for/refs/*"]
	read = group user/Sammy (wangshangsam)
	push = group user/Sammy (wangshangsam)
	label-Code-Review = -2..+2 group user/Sammy (wangshangsam)
	label-Verified = -1..+1 group user/Sammy (wangshangsam)
	rebase = group user/Sammy (wangshangsam)
	removeReviewer = group user/Sammy (wangshangsam)
	submit = group user/Sammy (wangshangsam)
[access "refs/heads/*"]
	read = group user/Sammy (wangshangsam)
	create = group user/Sammy (wangshangsam)
	push = +force group user/Sammy (wangshangsam)
	pushMerge = group user/Sammy (wangshangsam)
[access "refs/tags/*"]
	push = group user/Sammy (wangshangsam)
	push = +force group user/Sammy (wangshangsam)
